.bgContent {
  /* background-image: url(/src/assets/images/backgroud.jpg); */
  /* background-image: url(/src/assets/images/backgroud.png); */
  min-height: calc(100vh);
  position: relative;
  z-index: 10;
  padding-top: 5rem;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  height: auto !important;
  background-color: #090A1A;
  padding-bottom: 2rem;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* height: calc(100% + 45px); */
  height: 100vh;
  width: 100%;
  border: none;
}

.custom-bg-pattern {
  background-color: #000000;
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
  min-height: calc(100vh);
  padding-top: 5rem;
}

.hero-section {
  position: relative;
  /* background-image: -webkit-gradient(linear, left bottom, left top, from(#090919), to(rgba(9, 10, 26, 0.8))), url(/img/hero_bg.jpg); */
  background-image: linear-gradient(0deg, #090919, rgba(9, 10, 26, 0.8)), url(/src/assets/hero_bg.jpg);
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  z-index: 1;
}

section {
  width: 100%;
  padding: 130px 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.2;
  font-family: var(--primary-font);
  color: white;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.intro .intro-text {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: #0047ff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hero-section p {
  font-size: 1.2rem;
  color: white;
}