
.bgContent {
  /* background-image: url(/src/assets/images/backgroud.jpg); */
  /* background-image: url(/src/assets/images/backgroud.png); */
  min-height: calc(100vh);
  position: relative;
  z-index: 10;
  padding-top: 5rem;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  height: auto !important;
  background-color: #030d17;
  padding-bottom: 2rem;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* height: calc(100% + 45px); */
  height: 100vh;
  width: 100%;
  border: none;
}

.custom-bg-pattern {
  background-color: #000000;
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
  min-height: calc(100vh);
  padding-top: 5rem;
}